<app-public-layout>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="login-form mx-auto">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="email" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter email" formControlName="userName">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</app-public-layout>
